{% extends "base.html" %}

{% block content %}

	<!-- Sale-Page -->

    <div class="container">
        <div class="row bg0 p-t-104 p-b-20">
            <div class="col-lg-12 pb-5">
                <h3 class="display-4">This page Sale</h3>
                <div class='col-sm-6 col-md-4 mb-4 mb-md-5'>
                    <div class="card">
                        <div class="card-header">
                            <p><b>Total</b>: ${{ recent_orders_total }}</p>
                        </div>

                    </div>
                </div>



            </div>

            <div class='col-sm-6 col-md-4 mb-4 mb-md-5'>
                <h3>recent_orders</h3>
                <hr/>

                <ul>
                {% for order in recent_orders %}
                    <li class=''>Order #{{ order.order_id }}<br/>
                    ${{ order.total }}<br/>
                    {{ order.updated|timesince }} ago</li>
                {% endfor %}
                </ul>
            </div>
            <div class='col-sm-6 col-md-4 mb-4 mb-md-5'>

                <h3>This week's sales</h3>
                <hr/>
                    <ul>
                    {% for order in this_week %}
                        <li class=''>Order #{{ order.order_id }}<br/>
                        ${{ order.total }}<br/>
                        {{ order.updated|timesince }} ago</li>
                    {% endfor %}
                </ul>

            </div>
            <div class='col-sm-6 col-md-4 mb-4 mb-md-5'>

                <h3>Paid Orders</h3>
                <hr/>
                    <ul>
                    {% for order in paid_orders %}
                        <li class=''>Order #{{ order.order_id }}<br/>
                        ${{ order.total }}<br/>
                        {{ order.updated|timesince }} ago</li>
                    {% endfor %}
                </ul>

            </div>


            <div class='col-sm-6 col-md-4 mb-4 mb-md-5'>

                <h3>Paid Orders</h3>
                <canvas class='cfe-render-chart' id="thisWeekSales" data-type='week' width="400" height="400"></canvas>

            </div>


            <div class='row my-5'>
    <div class='col-12'>
        <h1>Previous 4 weeks</h1>
    </div>
    <div class='col'>


        <p>Orders Total: ${{ last_four_weeks.recent_data.total__sum }}</p>
        <p>Shipped Total: {% if last_four_weeks.shipped_data.total__sum %}${{ last_four_weeks.shipped_data.total__sum }} {% endif %}</p>
        <p>Paid Totals: ${{ last_four_weeks.paid_data.total__sum }}</p>

    </div>
     <div class='col'>
       <canvas class='cfe-render-chart' id="fourWeekSales" data-type='4weeks' width="400" height="400"></canvas>
    </div>
</div>

        </div>
    </div>


<script>

</script>


{% endblock %}