<div class="cm-all-dynamic-data">
    <div class="cm-dynamic-data">

        {% if messages %}
            <div class="span12">
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">
                        {{ message|safe }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}

        <!-- Todo Template -->

        {% include "todo/todo_template.html" %}

        <ul id="sortable">
            {% for project in project_todos %}


                {% for todo in project.todos.all %}


                    <li class="list-todo">
                        <div class="child-wrap">
                            <div class="input-menu-items">
                                <span class="cm-text-data">{{ todo }} </span>
                                <span class="cm-text-function">{{project}}</span>
                                <span class="cm-text-function">{{project.color}}</span>
                            </div>
                            <div class="todo-option">
                                <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                                <div class="block-setting">
                                    <form class="delete-form-content" action="{% url 'todo:todo_delete' todo.id %}"
                                          method="post">
                                        <input type="hidden" name="todo_id" value="{{todo.id}}">
                                        <input type="submit" value="Delete"/>
                                    </form>
                                    <form class="delete-form-content" action="{% url 'todo:todo_update' todo.id %}"
                                          method="post">
                                        <input type="hidden" name="completed_tasks" value="True">
                                        <input type="hidden" class="form-control" name="title" value="{{todo.title}}">
                                        <input type="hidden" class="form-control" name="todo_priority" value="{{todo.todo_priority}}">
                                        <input type="submit" value="Completed"/>
                                    </form>

                                    <a data-toggle="modal" data-target="#todo_{{todo.id}}">Edit</a>
                                </div>
                            </div>
                        </div>

                        <!-- Modal -->
                        <div class="modal fade" id="todo_{{todo.id}}" tabindex="-1" role="dialog"
                             aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">

                                    <form class="edit-form-id" action="{% url 'todo:todo_update' todo.id %}" method="post">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="todo_{{todo.id}}_Title">Modal title {{todo.id}}</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="form-group">
                                                <label>Title</label>
                                                <input type="text" class="form-control" name="title" value="{{todo.title}}">
                                            </div>
                                            <div class="form-group">
                                                <label>Color</label>
                                                <input type="text" class="form-control" name="color" value="">
                                            </div>

                                            <div class="form-group">
                                                {{todo.todo_priority}}
                                                <select name="todo_priority" id="{{todo.id}}">
                                                    <option value="high" {% if todo.todo_priority == "high" %} selected {% endif %}>High Priority</option>

                                                    <option value="medium" {% if todo.todo_priority == "medium" %} selected {% endif %}>Medium Priority</option>

                                                    <option value="low" {% if todo.todo_priority == "low" %} selected {% endif %}>Low Priority</option>

                                                </select>
                                            </div>


                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                            <button type="submit" class="btn btn-primary">Save changes</button>
                                        </div>

                                    </form>


                                </div>
                            </div>
                        </div>

                    </li>


                {% endfor %}

            {% endfor %}

            <!--Form add todo-->
            <li class="todo-list">
                <div class="child-wrap">
                    <form class="add-form-content" method="post" action="{% url 'todo:dashboard' %}">
                        {% csrf_token %}

                        <div class="input-menu-items">
                            {{ form.as_table }}

                            <input type="submit" value="Save"/>
                        </div>
                    </form>
                </div>
            </li>

        </ul>

    </div>

    <button class="add-form btn">Add</button>
    <button class="form-close btn">Close</button>
</div>