{% extends "base.html" %}

{% block content %}



	<!-- Product -->




	<!-- breadcrumb -->
	<div class="container">
		<div class="bread-crumb flex-w p-l-25 p-r-15 p-t-30 p-lr-0-lg">
			<a href="{% url 'landing:home_landing' %}" class="stext-109 cl8 hov-cl1 trans-04">
				Home
				<i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
			</a>

			<span class="stext-109 cl4">
				{{ page_title }}


			</span>
		</div>
	</div>


	<!-- Product Detail -->
{% if messages %}
	<div class="container">
        <div class="row">
            <div class="col-sm-12 Am-lr-auto">
                <div class="p-lr-40 p-t-30 p-b-40 m-l-63 m-r-40 m-lr-0-xl p-lr-15-sm">
                    <div class="alert alert-success" role="alert">


                        <ul class="messages">
                            {% for message in messages %}
                            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
                                {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
                                {{ message }}
                            </li>
                            {% endfor %}
                        </ul>

                    </div>
                </div>
            </div>
        </div>
	</div>
{% endif %}
<div class="container">
    <div class="row">

        <div class="col-lg-8 col-md-10 mx-auto bg0 p-b-116">

            <form action="." method="post">



                <div class="row">
                  <div class="col-lg-6">
                    <div class="input-group">
                      {{ form }}

                    </div>
                  </div>
                </div>

                {% csrf_token %}
                <input type="hidden" name="next" value="{{ next }}" />
                <p>
                    <button type="submit" class="btn btn-primary" >Save</button>
                </p>
            </form>
        </div>

    </div>
</div>





{% endblock %}