{% extends "base.html" %}

{% block content %}



	<!-- Product -->

	<!-- breadcrumb -->
	<div class="container">
		<div class="bread-crumb flex-w p-l-25 p-r-15 p-t-30 p-lr-0-lg">
			<a href="{% url 'landing:home_landing' %}" class="stext-109 cl8 hov-cl1 trans-04">
				Home
				<i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
			</a>

			<span class="stext-109 cl4">
				Checkout
			</span>
		</div>
	</div>


	<!-- Shoping Cart -->


		<div class="container">
			<div class="row">
				<div class="col-lg-10 col-xl-7 m-lr-auto m-b-50">
					<div class="m-l-25 m-r--38 m-lr-0-xl">
						<div class="wrap-table-shopping-cart">
							<table class="table-shopping-cart">
								<tr class="table_head">
									<th class="column-1">Product</th>
									<th class="column-2"></th>
									<th class="column-3">Price</th>
									<th class="column-4">Quantity</th>
									<th class="column-5">Total</th>
								</tr>

								{% for product_in_basket in products_in_basket %}

										{% csrf_token %}

										<input type="hidden" class="product_id_{{product_in_basket.id}}" name="product_id" value="{{product_in_basket.product.id}}">
										<tr class="table_row" data-row="{{product_in_basket.id}}">
											<td class="column-1">
												<div class="how-itemcart1">
													{% for item_image in product_in_basket.product.images.all %}
														{% if item_image.is_main %}
															<img src="{{item_image.image.url}}" alt="{{item_image.description}}">
														{% endif %}
													{% endfor %}
												</div>
											</td>
											<td class="column-2">
												<a href="{{ product_in_basket.product.get_absolute_url }}" class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">{{product_in_basket.product.name}}</a>
											</td>
											<td class="column-3 price-in" data-price="{{product_in_basket.id}}">$ <span>{{product_in_basket.product.price}}</span></td>
											<td class="column-4">
												<div class="wrap-num-product flex-w m-l-auto m-r-0">
													<div class="btn-num-product-down cl8 hov-btn3 trans-04 flex-c-m" data-id="{{product_in_basket.id}}">
														<i class="fs-16 zmdi zmdi-minus"></i>
													</div>

													<input class="mtext-104 cl3 txt-center num-product" id="{{product_in_basket.id}}" type="number" name="product_{{product_in_basket.id}}" value="{{product_in_basket.nmb}}">

													<div class="btn-num-product-up cl8 hov-btn3 trans-04 flex-c-m" data-id="{{product_in_basket.id}}">
														<i class="fs-16 zmdi zmdi-plus"></i>
													</div>
												</div>
											</td>
											<td class="column-5 total-price" data-total="{{product_in_basket.id}}">
												$ <span>{{product_in_basket.total_price}}</span>
											</td>
										</tr>

								{% endfor %}


							</table>
						</div>


					</div>
				</div>

				<div class="col-sm-10 col-lg-7 col-xl-5 m-lr-auto m-b-50">
					<div class="bor10 p-lr-40 p-t-30 p-b-40 m-l-63 m-r-40 m-lr-0-xl p-lr-15-sm">
						<h4 class="mtext-109 cl2 p-b-30">
							Cart Totals
						</h4>

						<div class="flex-w flex-t bor12 p-t-15 p-b-30">
							<div class="size-208 w-full-ssm">
								<span class="stext-110 cl2">
									Shipping:
								</span>
							</div>

							<div class="size-209 p-r-18 p-r-0-sm w-full-ssm">
								<p class="stext-111 cl6 p-t-2">
									There are no shipping methods available. Please double check your address, or contact us if you need any help.
								</p>

							</div>
						</div>

						<div class="flex-w flex-t p-t-27 p-b-33">
							<div class="size-208">
								<span class="mtext-101 cl2">
									Total:
								</span>
							</div>

							<div class="size-209 p-t-1">
								<span class="mtext-110 cl2 total-car-checkout">
									${{total_basket}}
								</span>
							</div>
						</div>

						<a href="{% url 'orders:checkout' %}" class="flex-c-m stext-101 cl0 size-116 bg3 bor14 hov-btn3 p-lr-15 trans-04 pointer">
							Proceed to Checkout
						</a>
					</div>
				</div>
			</div>
		</div>



{% endblock %}