{% extends "base.html" %}

{% block content %}



	<!-- Product -->

	<!-- breadcrumb -->
	<div class="container">
        <div class="row">
            <div class="col-sm-12 Am-lr-auto">
                <div class="p-lr-40 p-t-30 p-b-40 m-l-63 m-r-40 m-lr-0-xl p-lr-15-sm">
                    <div class="alert alert-success" role="alert">
                      <h4 class="alert-heading">Well done!</h4>
                      <p>Aww yeah, you successfully read this important alert message. This example text is going to run a bit longer so that you can see how spacing within an alert works with this kind of content.</p>
                    </div>
                </div>
            </div>
        </div>
	</div>




{% endblock %}