{% extends "base.html" %}

{% block content %}



	<!-- Product -->

	<!-- breadcrumb -->
	<div class="container">
		<div class="bread-crumb flex-w p-l-25 p-r-15 p-t-30 p-lr-0-lg">
			<a href="{% url 'landing:home_landing' %}" class="stext-109 cl8 hov-cl1 trans-04">
				Home
				<i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
			</a>

			<span class="stext-109 cl4">
				Checkout
			</span>
		</div>
	</div>

	{% if not billing_profile %}
		<div class="form-wrap">

			<div class="tabs">
				<h3 class="signup-tab"><a class="active" href="#signup-tab-content">Login</a></h3>
				<h3 class="login-tab"><a href="#login-tab-content">Guest</a></h3>
			</div><!--.tabs-->

			<div class="tabs-content">
				<div id="signup-tab-content" class="active">

					<form class="signup-form" action="{% url 'accounts:login' %}" method="post">
						{{ login_form }}
						{% csrf_token %}
						<input type="submit" class="button" value="Login">
					</form><!--.login-form-->
				</div><!--.signup-tab-content-->

				<div id="login-tab-content">
					{% url 'accounts:quest_register' as quest_register %}

					{% include "accounts/guest_form.html" with form=guest_form action_url=quest_register %}
				</div><!--.login-tab-content-->
			</div><!--.tabs-content-->
		</div><!--.form-wrap-->




	{% else %}

		{% if not object.shipping_address %}
			<!-- Shoping Cart -->

		<div class="form-wrap">

			<h3 class="signup-tab title-address">Shipping address</h3>
			<hr/>

			<div class="tabs-content">
				<div  class="active">

					{% url "orders:address_shipping" as address_shipping %}
					{% include "accounts/guest_form.html" with form=address_form action_url=address_shipping address_type='shipping'  %}

				</div><!--.signup-tab-content-->

			</div><!--.tabs-content-->
		</div><!--.form-wrap-->

		{% elif not object.billing_address %}
			<div class="form-wrap">

				<h3 class="signup-tab title-address">Billing address</h3>
				<hr/>

				<div class="tabs-content">
					<div  class="active">

						{% url "orders:address_shipping" as address_shipping %}
						{% include "accounts/guest_form.html" with form=billing_address_form action_url=address_shipping address_type='billing'  %}

					</div><!--.signup-tab-content-->

				</div><!--.tabs-content-->
			</div><!--.form-wrap-->
		{% else %}
			<!-- Shoping Cart -->
			<form class="bg0 p-t-75 p-b-85 payment-form" method="post"   id="payment-form" data-token="{{ publish_key }}">
				{% csrf_token %}
				<div class="container">
					<div class="row">






						<div class="col-sm-12 Am-lr-auto m-b-50">
							<div class="bor10 p-lr-40 p-t-30 p-b-40 m-l-63 m-r-40 m-lr-0-xl p-lr-15-sm">
								<h4 class="mtext-109 cl2 p-b-30">
									Finalize Checkout
								</h4>

								<div class="form-row">
								<label for="card-element">
								  Credit or debit card
								</label>
								<div id="card-element">
								  <!-- A Stripe Element will be inserted here. -->
								</div>

								<!-- Used to display form errors. -->
								<div id="card-errors" role="alert"></div>
							  </div>

								<div class="flex-w flex-t bor12 p-t-15 p-b-30">
									<div class="size-208 w-full-ssm">
										Order ID - <b>{{ object.order_id }}</b><br/>
										{% for item in object.cart.all %}
											{{ item }}
											{{ item.product.id }}<br/>
										{% endfor %}
										<hr/>
										<p>Shipping Address: {{ object.shipping_address.get_address }}</p>
										<p>Billing Address: {{ object.billing_address.get_address }}</p>

									</div>
								</div>

									<div class="flex-w flex-t p-t-27 p-b-33">
										<div class="size-208">
											<span class="mtext-101 cl2">
												Total Cart: ${{total_basket}}
											</span>
										</div>

										<div class="size-209 p-t-1">
											<span class="mtext-110 cl2 total-car-checkout">

											</span>
										</div>
									</div>

									<div class="flex-w flex-t p-t-27 p-b-33">
										<div class="size-208">
											<span class="mtext-101 cl2">
												Total: ${{object.total}}
											</span>
										</div>
									</div>

								<button class="flex-c-m stext-101 cl0 size-116 bg3 bor14 hov-btn3 p-lr-15 trans-04 pointer">
									Proceed to Checkout
								</button>
							</div>
						</div>
					</div>
				</div>
			</form>
		{% endif %}

	{% endif %}


{% endblock %}