{% extends "base.html" %}

{% block content %}

	<!-- login-form -->

<div class="container">
    <div class="row">

    <div class='col-12 col-md-6 mx-auto'>
         <h1>Order {{ object.order_id }}</h1>
          <hr/>
    </div>


        <div class="col-lg-8 col-md-10 mx-auto bg0 p-t-104 p-b-116">
            Order detail

            <p>Shipping Address: {{ object.shipping_address_final }}</p>
            <p>Billing Address: {{ object.billing_address_final }}</p>
            <p>Shipping Total: {{ object.shipping_total }}</p>
            <p>Order Total: {{ object.total }}</p>
            <p>Order Status: {{ object.get_shipping_status }}</p>

        </div>

    </div>
    <div class='row'>
    <div class='col'>
        <table class='table'>
            <thead><th>Product</th><th>Download</th></thead>

            <tbody>
            {% for item_ord in object.order_product.all %}
                    <tr>
                        <td><a href='{{ item_ord.product.get_absolute_url }}'>{{ item_ord }}</a> {{ item_ord.nmb }}</td>
                        <td>{% for download in item_ord.product.get_downloads %}
                                <a href='{{ download.get_download_url }}' download>{{ download.display_name }}</a><br/>
                            {% endfor %}
                        </td>
                    </tr>
                {% empty %}
                <tr><td colspan="3"><p class='lead'>No orders yet.</td></tr>
            {% endfor %}
            </tbody>

        </table>
    </div>
</div>
</div>



{% endblock %}