{% extends "base.html" %}

{% block content %}

	<!-- login-form -->

<div class="container">
    <div class="bg0 p-t-104 p-b-116">
        <div class="row">

            <div class="col-md-12 mx-auto">
                <h2>Order list</h2>
            </div>

        </div>

        <div class="row">

            <div class="col">
                <table class="table">
                    <thead>
                        <th>Order ID</th>
                        <th>Status</th>
                        <th>Total</th>
                    </thead>
                    <tbody>
                        {% for object in object_list %}
                            <tr>
                                <td><a href="{% url 'orders:detail' order_id=object.order_id  %}">{{ object.order_id }}</a></td>
                                <td>{{ object.get_shipping_status }}</td>
                                <td>{{ object.total }}</td>
                            </tr>
                        {% empty %}
                            <tr>
                                <td colspan="3">
                                    <p class="lead">No orders yet.</p>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

        </div>
    </div>

</div>



{% endblock %}