{% extends "base.html" %}

{% block content %}



	<!-- Product -->




	<!-- breadcrumb -->
	<div class="container">
		<div class="bread-crumb flex-w p-l-25 p-r-15 p-t-30 p-lr-0-lg">
			<a href="{% url 'landing:home_landing' %}" class="stext-109 cl8 hov-cl1 trans-04">
				Home
				<i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
			</a>

			<a href="product.html" class="stext-109 cl8 hov-cl1 trans-04">
				Men
				<i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
			</a>

			<span class="stext-109 cl4">
				{{ page_title }}


			</span>
		</div>
	</div>


	<!-- Product Detail -->
	<section class="sec-product-detail bg0 p-t-65 p-b-60">
		{% for item_product in product %}

			<div class="container">
				<div class="row">
					<div class="col-md-6 col-lg-7 p-b-30">
						<div class="p-l-25 p-r-30 p-lr-0-lg">
							<div class="wrap-slick3 flex-sb flex-w">
								<div class="wrap-slick3-dots"></div>
								<div class="wrap-slick3-arrows flex-sb-m flex-w"></div>

								<div class="slick3 gallery-lb">

								{% for item in item_product.images.all %}

									<div class="item-slick3" data-thumb="{{item.image.url}}">
										<div class="wrap-pic-w pos-relative">
											<img class="image-data-get" src="{{item.image.url}}" alt="{{item.description}}">

											<a class="flex-c-m size-108 how-pos1 bor0 fs-16 cl10 bg0 hov-btn3 trans-04" href="{{item.image.url}}">
												<i class="fa fa-expand"></i>
											</a>
										</div>
									</div>

								{% endfor %}

								</div>

							</div>
						</div>
					</div>

					<div class="col-md-6 col-lg-5 p-b-30">
						<div class="p-r-50 p-t-5 p-lr-0-lg">
							<h4 class="mtext-105 cl2 js-name-detail p-b-14">
								{{item_product}}


							</h4>

							<span class="mtext-106 cl2">
								$ {{item_product.price}}
							</span>

							<p class="stext-102 cl3 p-t-23">
								{{item_product.description | safe }}
							</p>

							<!-- form buy -->
							<div class="p-t-33">

								<form action="{% url 'orders:basket_adding' %}" method="post" class="form-buy-product" data-id="{{item_product.id}}" data-name="{{item_product}}" data-price="{{item_product.price}}">
									{% csrf_token %}

									{% for item in product_attr %}

										<div class="flex-w flex-r-m p-b-10">
											<div class="size-203 flex-c-m respon6">
												{{ item }}
											</div>

											<div class="size-204 respon6-next">
												<div class="rs1-select2 bor8 bg0">
													<select class="js-select2" name="time_{{item}}" id="time_{{item}}" >
														<option>Choose an option</option>
															{% for item_attribut in item_product.attributes.all %}

																{% if item_attribut.attribut == item %}
																	<option>{{ item_attribut.description }}</option>
																{% endif %}

															{% endfor %}


													</select>
													<div class="dropDownSelect2"></div>
												</div>
											</div>
										</div>

									{% endfor %}


									<div class="flex-w flex-r-m p-b-10">
										<div class="size-204 flex-w flex-m respon6-next">
											<div class="wrap-num-product flex-w m-r-20 m-tb-10">
												<div class="btn-num-product-down cl8 hov-btn3 trans-04 flex-c-m">
													<i class="fs-16 zmdi zmdi-minus"></i>
												</div>

												<input class="mtext-104 cl3 txt-center num-product" id="num-product" type="number" name="num-product" value="1">

												<div class="btn-num-product-up cl8 hov-btn3 trans-04 flex-c-m">
													<i class="fs-16 zmdi zmdi-plus"></i>
												</div>
											</div>

											<button type="submit" class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04 js-addcart-detail">
												Add to cart
											</button>


										</div>
									</div>

								</form>

							</div>

							<!--  -->
							<div class="flex-w flex-m p-l-100 p-t-40 respon7">
								<div class="flex-m bor9 p-r-10 m-r-11">
									<a href="#" class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 js-addwish-detail tooltip100" data-tooltip="Add to Wishlist">
										<i class="zmdi zmdi-favorite"></i>
									</a>
								</div>

								<a href="#" class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 m-r-8 tooltip100" data-tooltip="Facebook">
									<i class="fa fa-facebook"></i>
								</a>

								<a href="#" class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 m-r-8 tooltip100" data-tooltip="Twitter">
									<i class="fa fa-twitter"></i>
								</a>

								<a href="#" class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 m-r-8 tooltip100" data-tooltip="Google Plus">
									<i class="fa fa-google-plus"></i>
								</a>
							</div>
						</div>
					</div>
				</div>

				<div class="bor10 m-t-50 p-t-43 p-b-40">
					<!-- Tab01 -->
					<div class="tab01">
						<!-- Nav tabs -->
						<ul class="nav nav-tabs" role="tablist">
							<li class="nav-item p-b-10">
								<a class="nav-link active" data-toggle="tab" href="#description" role="tab">Description</a>
							</li>

							<li class="nav-item p-b-10">
								<a class="nav-link" data-toggle="tab" href="#information" role="tab">Additional information</a>
							</li>


						</ul>

						<!-- Tab panes -->
						<div class="tab-content p-t-43">
							<!-- - -->
							<div class="tab-pane fade show active" id="description" role="tabpanel">
								<div class="how-pos2 p-lr-15-md">
									<p class="stext-102 cl6">
										Aenean sit amet gravida nisi. Nam fermentum est felis, quis feugiat nunc fringilla sit amet. Ut in blandit ipsum. Quisque luctus dui at ante aliquet, in hendrerit lectus interdum. Morbi elementum sapien rhoncus pretium maximus. Nulla lectus enim, cursus et elementum sed, sodales vitae eros. Ut ex quam, porta consequat interdum in, faucibus eu velit. Quisque rhoncus ex ac libero varius molestie. Aenean tempor sit amet orci nec iaculis. Cras sit amet nulla libero. Curabitur dignissim, nunc nec laoreet consequat, purus nunc porta lacus, vel efficitur tellus augue in ipsum. Cras in arcu sed metus rutrum iaculis. Nulla non tempor erat. Duis in egestas nunc.
									</p>
								</div>
							</div>

							<!-- - -->
							<div class="tab-pane fade" id="information" role="tabpanel">
								<div class="row">
									<div class="col-sm-10 col-md-8 col-lg-6 m-lr-auto">
										<ul class="p-lr-28 p-lr-15-sm">
											<li class="flex-w flex-t p-b-7">
												<span class="stext-102 cl3 size-205">
													Weight
												</span>

												<span class="stext-102 cl6 size-206">
													0.79 kg
												</span>
											</li>

											<li class="flex-w flex-t p-b-7">
												<span class="stext-102 cl3 size-205">
													Dimensions
												</span>

												<span class="stext-102 cl6 size-206">
													110 x 33 x 100 cm
												</span>
											</li>

											<li class="flex-w flex-t p-b-7">
												<span class="stext-102 cl3 size-205">
													Materials
												</span>

												<span class="stext-102 cl6 size-206">
													60% cotton
												</span>
											</li>

											<li class="flex-w flex-t p-b-7">
												<span class="stext-102 cl3 size-205">
													Color
												</span>

												<span class="stext-102 cl6 size-206">
													Black, Blue, Grey, Green, Red, White
												</span>
											</li>

											<li class="flex-w flex-t p-b-7">
												<span class="stext-102 cl3 size-205">
													Size
												</span>

												<span class="stext-102 cl6 size-206">
													XL, L, M, S
												</span>
											</li>
										</ul>
									</div>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>

			<div class="bg6 flex-c-m flex-w size-302 m-t-73 p-tb-15">
				{% if item_product.sku_product %}
					<span class="stext-107 cl6 p-lr-25">
						SKU: {{item_product.sku_product}}
					</span>
				{% endif %}

				{% if item_product.category %}
					<div class="stext-107 cl6 p-lr-25 category-box">
						Categories:
						{% for item_cat in item_product.category.all %}
							<span>{{ item_cat }}</span>
						{% endfor %}


					</div>
				{% endif %}

			</div>

		{% endfor %}

	</section>


	<!-- Blog -->




{% endblock %}