<div id="products-template-main">
    <li class="header-cart-item flex-w flex-t m-b-12">
        <div class="header-cart-item-img" data-id="">
            <img src="" alt="IMG">
        </div>
        <div class="header-cart-item-txt p-t-8">
            <a href="#" class="header-cart-item-name m-b-18 hov-cl1 trans-04">
            </a>
            <span class="header-cart-item-info">
            </span>
        </div>
    </li>
</div>
