{% extends "base.html" %}

{% block content %}



	<!-- Product -->




	<!-- breadcrumb -->
	<div class="container">
		<div class="bread-crumb flex-w p-l-25 p-r-15 p-t-30 p-lr-0-lg">
			<a href="{% url 'landing:home_landing' %}" class="stext-109 cl8 hov-cl1 trans-04">
				Home
				<i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
			</a>

			<a href="product.html" class="stext-109 cl8 hov-cl1 trans-04">
				Men
				<i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
			</a>

			<span class="stext-109 cl4">
				Lightweight Jacket
			</span>
		</div>
	</div>


	<!-- Product Detail -->
	<section class="sec-product-detail bg0 p-t-65 p-b-60">
        <div class="container">
            <div class="row">
                <form method="get">
                    <input type="text" id="s" value="" name="s">
                    <input type="submit" value="Search">
                </form>
            </div>
        </div>

        {{products%}}

		{% for item_product in products %}

			<div class="container">
				<div class="row">
                    {{item_produc}}
				</div>

			</div>


		{% endfor %}

	</section>


	<!-- Blog -->




{% endblock %}