{% extends "base.html" %}
{% load static %}

{% block content %}



	<!-- Product -->




	<!-- breadcrumb -->
	<div class="container">
		<div class="bread-crumb flex-w p-l-25 p-r-15 p-t-30 p-lr-0-lg">
			<a href="{% url 'landing:home_landing' %}" class="stext-109 cl8 hov-cl1 trans-04">
				Home
				<i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
			</a>

			<span class="stext-109 cl4">
				{{ page_title }}
			</span>
		</div>
	</div>


	<!-- Product -->
	<section class="bg0 p-t-23 p-b-130">
		<div class="container">
			<div class="p-b-10">
				<h3 class="ltext-103 cl5">
					Product Overview
				</h3>
			</div>

			{% if products %}

				<div class="flex-w flex-sb-m p-b-52">
					<div class="flex-w flex-l-m filter-tope-group m-tb-10">
						<button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5 how-active1" data-filter="*">
							All Products
						</button>

						{% if products_category %}
							{% for category in products_category %}
								<button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5" data-filter="{% filter force_escape|lower %}.{{category}}{% endfilter %}">
									{{category}}
								</button>
							{%endfor%}
						{% endif %}

					</div>



					<!-- Search product -->
					<div class="dis-none panel-search w-full p-t-10 p-b-15">
						<div class="bor8 dis-flex p-l-15">
							<button class="size-113 flex-c-m fs-16 cl2 hov-cl1 trans-04">
								<i class="zmdi zmdi-search"></i>
							</button>

							<input class="mtext-107 cl2 size-114 plh2 p-r-15" type="text" name="search-product" placeholder="Search">
						</div>
					</div>

					<!-- Filter -->
					<div class="dis-none panel-filter w-full p-t-10">
						<div class="wrap-filter flex-w bg6 w-full p-lr-40 p-t-27 p-lr-15-sm">
							<div class="filter-col1 p-r-15 p-b-27">
								<div class="mtext-102 cl2 p-b-15">
									Sort By
								</div>

								<ul>
									<li class="p-b-6">
										<a href="#" class="filter-link stext-106 trans-04">
											Default
										</a>
									</li>

									<li class="p-b-6">
										<a href="#" class="filter-link stext-106 trans-04">
											Popularity
										</a>
									</li>

									<li class="p-b-6">
										<a href="#" class="filter-link stext-106 trans-04">
											Average rating
										</a>
									</li>

									<li class="p-b-6">
										<a href="#" class="filter-link stext-106 trans-04 filter-link-active">
											Newness
										</a>
									</li>

									<li class="p-b-6">
										<a href="#" class="filter-link stext-106 trans-04">
											Price: Low to High
										</a>
									</li>

									<li class="p-b-6">
										<a href="#" class="filter-link stext-106 trans-04">
											Price: High to Low
										</a>
									</li>
								</ul>
							</div>

							<div class="filter-col2 p-r-15 p-b-27">
								<div class="mtext-102 cl2 p-b-15">
									Price
								</div>
									<!-- Range -->
								<p>
								  <label for="amount">Price range:</label>
								  <input type="text" id="amount" readonly style="border:0; color:#f6931f; font-weight:bold;">
								</p>

								<div id="slider-range" data-price="450"></div>


							</div>

							<div class="filter-col3 p-r-15 p-b-27">
								<div class="mtext-102 cl2 p-b-15">
									Color
								</div>

								<ul>
									<li class="p-b-6">
										<span class="fs-15 lh-12 m-r-6" style="color: #222;">
											<i class="zmdi zmdi-circle"></i>
										</span>

										<a href="#" class="filter-link stext-106 trans-04">
											Black
										</a>
									</li>

									<li class="p-b-6">
										<span class="fs-15 lh-12 m-r-6" style="color: #4272d7;">
											<i class="zmdi zmdi-circle"></i>
										</span>

										<a href="#" class="filter-link stext-106 trans-04 filter-link-active">
											Blue
										</a>
									</li>

									<li class="p-b-6">
										<span class="fs-15 lh-12 m-r-6" style="color: #b3b3b3;">
											<i class="zmdi zmdi-circle"></i>
										</span>

										<a href="#" class="filter-link stext-106 trans-04">
											Grey
										</a>
									</li>

									<li class="p-b-6">
										<span class="fs-15 lh-12 m-r-6" style="color: #00ad5f;">
											<i class="zmdi zmdi-circle"></i>
										</span>

										<a href="#" class="filter-link stext-106 trans-04">
											Green
										</a>
									</li>

									<li class="p-b-6">
										<span class="fs-15 lh-12 m-r-6" style="color: #fa4251;">
											<i class="zmdi zmdi-circle"></i>
										</span>

										<a href="#" class="filter-link stext-106 trans-04">
											Red
										</a>
									</li>

									<li class="p-b-6">
										<span class="fs-15 lh-12 m-r-6" style="color: #aaa;">
											<i class="zmdi zmdi-circle-o"></i>
										</span>

										<a href="#" class="filter-link stext-106 trans-04">
											White
										</a>
									</li>
								</ul>
							</div>

							<div class="filter-col4 p-b-27">
								<div class="mtext-102 cl2 p-b-15">
									Tags
								</div>

								<div class="flex-w p-t-4 m-r--5">
									<a href="#" class="flex-c-m stext-107 cl6 size-301 bor7 p-lr-15 hov-tag1 trans-04 m-r-5 m-b-5">
										Fashion
									</a>

									<a href="#" class="flex-c-m stext-107 cl6 size-301 bor7 p-lr-15 hov-tag1 trans-04 m-r-5 m-b-5">
										Lifestyle
									</a>

									<a href="#" class="flex-c-m stext-107 cl6 size-301 bor7 p-lr-15 hov-tag1 trans-04 m-r-5 m-b-5">
										Denim
									</a>

									<a href="#" class="flex-c-m stext-107 cl6 size-301 bor7 p-lr-15 hov-tag1 trans-04 m-r-5 m-b-5">
										Streetstyle
									</a>

									<a href="#" class="flex-c-m stext-107 cl6 size-301 bor7 p-lr-15 hov-tag1 trans-04 m-r-5 m-b-5">
										Crafts
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="row isotope-grid">

					{% for product in products %}
						<div class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item {% filter force_escape|lower %}{% for item_cat in product.category.all %} {{ item_cat }} {% endfor %}{% endfilter %}">
							<!-- Block2 -->
							<div class="block2">

								<form action="{% url 'orders:basket_adding' %}" method="post" class="form-buy-product" data-id="{{product.id}}" data-name="{{product}}" data-price="{{product.price}}">
									{% csrf_token %}
									<input type="hidden" class="mtext-104 cl3 txt-center num-product num-product"  name="num-product" value="1">

									{% if product.discount %}
										<div class="block2-pic hov-img0 label-new"  data-label="sale %{{product.discount}}">
									{% else %}
										<div class="block2-pic hov-img0">
									{% endif %}

									{% for item in product.images.all %}

										<div class="image-show-js">
											{% if item.is_main %}
												<img src="{{item.image.url}}" alt="{{item.description}}">
											{% endif %}
										</div>

									{% endfor %}

									{{product.image.is_main}}

										<button type="submit" class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04 add-to-cart-btn">
											Add to cart
										</button>
									</div>


										<div class="block2-txt flex-w flex-t p-t-14">
											<div class="block2-txt-child1 flex-col-l ">
												<a href="{{ product.get_absolute_url }}" class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
													{{product}}
												</a>

												<span class="stext-105 cl3">
													${{product.price}}
												</span>
											</div>

										</div>
									</div>

								</form>



						</div>


					{% endfor %}

				</div>

				<!-- Pagination -->

				<div class="flex-c-m flex-w w-full p-t-38">
					    <div class="row">
							<div class="col-md-12">
								<div class="container text-center block-btn-load">


									<nav aria-label="...">

										{% if page_obj.has_other_pages %}
											<ul class="pagination">
											{% if page_obj.has_previous %}
											  <li class="page-item">
												  <a class="page-link" href="?page={{ page_obj.previous_page_number }}">
													  Previous
												  </a>
											  </li>
											{% else %}
											  <li class="page-item disabled">
											  <span class="page-link">Previous</span>
											</li>
											{% endif %}
											{% for i in page_obj.paginator.page_range %}
											  {% if page_obj.number == i %}
												<li class="page-item active">
													<span class="page-link">
														{{ i }}
														<span class="sr-only">(current)</span>
													</span>
												</li>
											  {% else %}
												<li class="page-item">
													<a class="page-link" href="?page={{ i }}">{{ i }}</a>
												</li>
											  {% endif %}
											{% endfor %}
											{% if page_obj.has_next %}
											  <li class="page-item">
											  <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
											</li>
											{% else %}

											  <li class="page-item disabled">
											  <span class="page-link">Next</span>
											</li>
											{% endif %}
										  </ul>
										{% endif %}


									</nav>




									<!--<a class="btn btn-network-load btn-lg btn-default load-more-product flex-c-m stext-101 cl0 size-101 bor1 hov-btn1 p-lr-15 trans-04" data-page="1" data-url="{% url 'products:product_api' %}">-->
										<!--<i class="fa fa-spinner" aria-hidden="true"></i>-->
										<!--<span class="text">Load More</span>-->
									<!--</a>-->
								</div><!--.container-->
							</div>
						</div>

				</div>

			{% endif %}

		</div>
	</section>




	<!-- Blog -->




{% endblock %}