<p>Hello,</p>
<p>Please activate your account for {{ email }} by clicking the link below:</p>
<p><a href='{{ path }}'>{{ path }}</a></p>
<p>Once you activate, you can login!</p>
<p>Thank you,</p>
<p>Python eCommerce</p>
