{% extends "landing/base.html" %}
{% load static %}

{% block content %}



	<!-- Sidebar -->
	<aside class="wrap-sidebar js-sidebar">
		<div class="s-full js-hide-sidebar"></div>

		<div class="sidebar flex-col-l p-t-22 p-b-25">
			<div class="flex-r w-full p-b-30 p-r-27">
				<div class="fs-35 lh-10 cl2 p-lr-5 pointer hov-cl1 trans-04 js-hide-sidebar">
					<i class="zmdi zmdi-close"></i>
				</div>
			</div>

			<div class="sidebar-content flex-w w-full p-lr-65 js-pscroll">
				<ul class="sidebar-link w-full">
					<li class="p-b-13">
						<a href="index.html" class="stext-102 cl2 hov-cl1 trans-04">
							Home
						</a>
					</li>

					<li class="p-b-13">
						<a href="#" class="stext-102 cl2 hov-cl1 trans-04">
							My Wishlist
						</a>
					</li>

					<li class="p-b-13">
						<a href="{% url 'accounts:login' %}" class="stext-102 cl2 hov-cl1 trans-04">
							My Account
						</a>
					</li>

					<li class="p-b-13">
						<a href="#" class="stext-102 cl2 hov-cl1 trans-04">
							Track Oder
						</a>
					</li>

					<li class="p-b-13">
						<a href="#" class="stext-102 cl2 hov-cl1 trans-04">
							Refunds
						</a>
					</li>

					<li class="p-b-13">
						<a href="#" class="stext-102 cl2 hov-cl1 trans-04">
							Help & FAQs
						</a>
					</li>
				</ul>

				<div class="sidebar-gallery w-full p-tb-30">
					<span class="mtext-101 cl5">

					</span>

					<div class="flex-w flex-sb p-t-36 gallery-lb">
						<!-- item gallery sidebar -->
						<div class="wrap-item-gallery m-b-10">
							<a class="item-gallery bg-img1" href="static/images/gallery-01.jpg" data-lightbox="gallery"
							style="background-image: url('static/images/gallery-01.jpg');"></a>
						</div>

						<!-- item gallery sidebar -->
						<div class="wrap-item-gallery m-b-10">
							<a class="item-gallery bg-img1" href="static/images/gallery-02.jpg" data-lightbox="gallery"
							style="background-image: url('static/images/gallery-02.jpg');"></a>
						</div>

						<!-- item gallery sidebar -->
						<div class="wrap-item-gallery m-b-10">
							<a class="item-gallery bg-img1" href="static/images/gallery-03.jpg" data-lightbox="gallery"
							style="background-image: url('static/images/gallery-03.jpg');"></a>
						</div>

						<!-- item gallery sidebar -->
						<div class="wrap-item-gallery m-b-10">
							<a class="item-gallery bg-img1" href="static/images/gallery-04.jpg" data-lightbox="gallery"
							style="background-image: url('static/images/gallery-04.jpg');"></a>
						</div>

						<!-- item gallery sidebar -->
						<div class="wrap-item-gallery m-b-10">
							<a class="item-gallery bg-img1" href="static/images/gallery-05.jpg" data-lightbox="gallery"
							style="background-image: url('static/images/gallery-05.jpg');"></a>
						</div>

						<!-- item gallery sidebar -->
						<div class="wrap-item-gallery m-b-10">
							<a class="item-gallery bg-img1" href="static/images/gallery-06.jpg" data-lightbox="gallery"
							style="background-image: url('static/images/gallery-06.jpg');"></a>
						</div>

						<!-- item gallery sidebar -->
						<div class="wrap-item-gallery m-b-10">
							<a class="item-gallery bg-img1" href="static/images/gallery-07.jpg" data-lightbox="gallery"
							style="background-image: url('static/images/gallery-07.jpg');"></a>
						</div>

						<!-- item gallery sidebar -->
						<div class="wrap-item-gallery m-b-10">
							<a class="item-gallery bg-img1" href="static/images/gallery-08.jpg" data-lightbox="gallery"
							style="background-image: url('static/images/gallery-08.jpg');"></a>
						</div>

						<!-- item gallery sidebar -->
						<div class="wrap-item-gallery m-b-10">
							<a class="item-gallery bg-img1" href="static/images/gallery-09.jpg" data-lightbox="gallery"
							style="background-image: url('static/images/gallery-09.jpg');"></a>
						</div>
					</div>
				</div>

				<div class="sidebar-gallery w-full">
					<span class="mtext-101 cl5">
						About Us
					</span>

					<p class="stext-108 cl6 p-t-27">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur maximus vulputate hendrerit. Praesent faucibus erat vitae rutrum gravida. Vestibulum tempus mi enim, in molestie sem fermentum quis.
					</p>
				</div>
			</div>
		</div>
	</aside>

	<!-- Cart -->
	<div class="wrap-header-cart js-panel-cart">
		<div class="s-full js-hide-cart"></div>

		<div class="header-cart flex-col-l p-l-65 p-r-25">
			<div class="header-cart-title flex-w flex-sb-m p-b-8">
				<span class="mtext-103 cl2">
					Your Cart
				</span>

				<div class="fs-35 lh-10 cl2 p-lr-5 pointer hov-cl1 trans-04 js-hide-cart">
					<i class="zmdi zmdi-close"></i>
				</div>
			</div>

			<div class="header-cart-content flex-w js-pscroll">
				<ul class="header-cart-wrapitem w-full">

					{% for product_in_basket in products_in_basket %}

						<li class="header-cart-item flex-w flex-t m-b-12">
							<div class="header-cart-item-img">
								{% for item_image in product_in_basket.product.images.all %}
									{% if item_image.is_main %}
										<img src="{{item_image.image.url}}" alt="{{item_image.description}}">
									{% endif %}
								{% endfor %}
							</div>

							<div class="header-cart-item-txt p-t-8">
								<a href="{{ product_in_basket.product.get_absolute_url }}" class="header-cart-item-name m-b-18 hov-cl1 trans-04">
									{{product_in_basket.product.name}}
								</a>

								<span class="header-cart-item-info">
									{{product_in_basket.nmb}} x ${{product_in_basket.product.price}}
								</span>
							</div>
						</li>

					{% endfor %}
				</ul>

				<div class="w-full">
					<div class="header-cart-total w-full p-tb-40">
						Total: ${{total_basket}}
					</div>

					<div class="header-cart-buttons flex-w w-full">
						<a href="{% url 'orders:cart' %}" class="flex-c-m stext-101 cl0 size-107 bg3 bor2 hov-btn3 p-lr-15 trans-04 m-r-8 m-b-10">
							View Cart
						</a>

						<a href="{% url 'orders:checkout' %}" class="flex-c-m stext-101 cl0 size-107 bg3 bor2 hov-btn3 p-lr-15 trans-04 m-b-10">
							Check Out
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>


	<!-- Slider -->




{% if products %}

	<section class="section-slide">
		<div class="wrap-slick1 rs1-slick1">
			<div class="slick1">

				{% for product in products %}

					{% for item in product.images.all %}


							{% if item.is_main and product.slider %}

								<!--<img src="{{item.image.url}}" alt="{{item.description}}">-->


								<div class="item-slick1" style="background-image: url({{item.image.url}});">
									<div class="container h-full">
										<div class="flex-col-l-m h-full p-t-100 p-b-30">
											<div class="layer-slick1 animated visible-false" data-appear="fadeInDown" data-delay="0">
												<span class="ltext-202 cl2 respon2">
													{{ product }}
												</span>
											</div>

											{% if item.description %}
											<div class="layer-slick1 animated visible-false" data-appear="fadeInUp" data-delay="800">
												<h2 class="ltext-104 cl2 p-t-19 p-b-43 respon1">
													{{item.description}}
												</h2>
											</div>
											{% endif %}


											<div class="layer-slick1 animated visible-false" data-appear="zoomIn" data-delay="1600">
												<a href="{{ product.get_absolute_url }}" class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04">
													Shop Now
												</a>
											</div>
										</div>
									</div>
								</div>

							{% endif %}


					{% endfor %}


				{% endfor %}

			</div>
		</div>
	</section>

{% endif %}




	<!-- Banner -->

	<!-- Product -->
	<section class="bg0 p-t-23 p-b-130">
		<div class="container">
			<div class="p-b-10">
				<h3 class="ltext-103 cl5">
					Product Overview
				</h3>
			</div>

			{% if products %}

				<div class="flex-w flex-sb-m p-b-52">
					<div class="flex-w flex-l-m filter-tope-group m-tb-10">
						<button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5 how-active1" data-filter="*">
							All Products
						</button>

						{% if products_category %}
							{% for category in products_category %}
								<button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5" data-filter="{% filter force_escape|lower %}.{{category}}{% endfilter %}">
									{{category}}
								</button>
							{%endfor%}
						{% endif %}

					</div>

					<div class="flex-w flex-c-m m-tb-10">
						<div class="flex-c-m stext-106 cl6 size-104 bor4 pointer hov-btn3 trans-04 m-r-8 m-tb-4 js-show-filter">
							<i class="icon-filter cl2 m-r-6 fs-15 trans-04 zmdi zmdi-filter-list"></i>
							<i class="icon-close-filter cl2 m-r-6 fs-15 trans-04 zmdi zmdi-close dis-none"></i>
							 Filter
						</div>

						<div class="flex-c-m stext-106 cl6 size-105 bor4 pointer hov-btn3 trans-04 m-tb-4 js-show-search">
							<i class="icon-search cl2 m-r-6 fs-15 trans-04 zmdi zmdi-search"></i>
							<i class="icon-close-search cl2 m-r-6 fs-15 trans-04 zmdi zmdi-close dis-none"></i>
							Search
						</div>
					</div>

					<!-- Search product -->
					<div class="dis-none panel-search w-full p-t-10 p-b-15">
						<div class="bor8 dis-flex p-l-15">
							<button class="size-113 flex-c-m fs-16 cl2 hov-cl1 trans-04">
								<i class="zmdi zmdi-search"></i>
							</button>

							<input class="mtext-107 cl2 size-114 plh2 p-r-15" type="text" name="search-product" placeholder="Search">
						</div>
					</div>

					<!-- Filter -->
					<div class="dis-none panel-filter w-full p-t-10">
						<div class="wrap-filter flex-w bg6 w-full p-lr-40 p-t-27 p-lr-15-sm">
							<div class="filter-col1 p-r-15 p-b-27">
								<div class="mtext-102 cl2 p-b-15">
									Sort By
								</div>

								<ul>
									<li class="p-b-6">
										<a href="#" class="filter-link stext-106 trans-04">
											Default
										</a>
									</li>

									<li class="p-b-6">
										<a href="#" class="filter-link stext-106 trans-04">
											Popularity
										</a>
									</li>

									<li class="p-b-6">
										<a href="#" class="filter-link stext-106 trans-04">
											Average rating
										</a>
									</li>

									<li class="p-b-6">
										<a href="#" class="filter-link stext-106 trans-04 filter-link-active">
											Newness
										</a>
									</li>

									<li class="p-b-6">
										<a href="#" class="filter-link stext-106 trans-04">
											Price: Low to High
										</a>
									</li>

									<li class="p-b-6">
										<a href="#" class="filter-link stext-106 trans-04">
											Price: High to Low
										</a>
									</li>
								</ul>
							</div>

							<div class="filter-col2 p-r-15 p-b-27">
								<div class="mtext-102 cl2 p-b-15">
									Price
								</div>
									<!-- Range -->
								<p>
								  <label for="amount">Price range:</label>
								  <input type="text" id="amount" readonly style="border:0; color:#f6931f; font-weight:bold;">
								</p>
								 
								<div id="slider-range" data-price="450"></div>


							</div>

							<div class="filter-col3 p-r-15 p-b-27">
								<div class="mtext-102 cl2 p-b-15">
									Color
								</div>

								<ul>
									<li class="p-b-6">
										<span class="fs-15 lh-12 m-r-6" style="color: #222;">
											<i class="zmdi zmdi-circle"></i>
										</span>

										<a href="#" class="filter-link stext-106 trans-04">
											Black
										</a>
									</li>

									<li class="p-b-6">
										<span class="fs-15 lh-12 m-r-6" style="color: #4272d7;">
											<i class="zmdi zmdi-circle"></i>
										</span>

										<a href="#" class="filter-link stext-106 trans-04 filter-link-active">
											Blue
										</a>
									</li>

									<li class="p-b-6">
										<span class="fs-15 lh-12 m-r-6" style="color: #b3b3b3;">
											<i class="zmdi zmdi-circle"></i>
										</span>

										<a href="#" class="filter-link stext-106 trans-04">
											Grey
										</a>
									</li>

									<li class="p-b-6">
										<span class="fs-15 lh-12 m-r-6" style="color: #00ad5f;">
											<i class="zmdi zmdi-circle"></i>
										</span>

										<a href="#" class="filter-link stext-106 trans-04">
											Green
										</a>
									</li>

									<li class="p-b-6">
										<span class="fs-15 lh-12 m-r-6" style="color: #fa4251;">
											<i class="zmdi zmdi-circle"></i>
										</span>

										<a href="#" class="filter-link stext-106 trans-04">
											Red
										</a>
									</li>

									<li class="p-b-6">
										<span class="fs-15 lh-12 m-r-6" style="color: #aaa;">
											<i class="zmdi zmdi-circle-o"></i>
										</span>

										<a href="#" class="filter-link stext-106 trans-04">
											White
										</a>
									</li>
								</ul>
							</div>

							<div class="filter-col4 p-b-27">
								<div class="mtext-102 cl2 p-b-15">
									Tags
								</div>

								<div class="flex-w p-t-4 m-r--5">
									<a href="#" class="flex-c-m stext-107 cl6 size-301 bor7 p-lr-15 hov-tag1 trans-04 m-r-5 m-b-5">
										Fashion
									</a>

									<a href="#" class="flex-c-m stext-107 cl6 size-301 bor7 p-lr-15 hov-tag1 trans-04 m-r-5 m-b-5">
										Lifestyle
									</a>

									<a href="#" class="flex-c-m stext-107 cl6 size-301 bor7 p-lr-15 hov-tag1 trans-04 m-r-5 m-b-5">
										Denim
									</a>

									<a href="#" class="flex-c-m stext-107 cl6 size-301 bor7 p-lr-15 hov-tag1 trans-04 m-r-5 m-b-5">
										Streetstyle
									</a>

									<a href="#" class="flex-c-m stext-107 cl6 size-301 bor7 p-lr-15 hov-tag1 trans-04 m-r-5 m-b-5">
										Crafts
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="row isotope-grid">

					{% for product in products %}
						<div class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item {% filter force_escape|lower %}{% for item_cat in product.category.all %} {{ item_cat }} {% endfor %}{% endfilter %}">
							<!-- Block2 -->
							<div class="block2">

								<form action="{% url 'orders:basket_adding' %}" method="post" class="form-buy-product" data-id="{{product.id}}" data-name="{{product}}" data-price="{{product.price}}">
									{% csrf_token %}
									<input type="hidden" class="mtext-104 cl3 txt-center num-product num-product"  name="num-product" value="1">

									{% if product.discount %}
										<div class="block2-pic hov-img0 label-new"  data-label="sale %{{product.discount}}">
									{% else %}
										<div class="block2-pic hov-img0">
									{% endif %}

									{% for item in product.images.all %}

										<div class="image-show-js">
											{% if item.is_main %}
												<img src="{{item.image.url}}" alt="{{item.description}}">
											{% endif %}
										</div>

									{% endfor %}

									{{product.image.is_main}}

										<button type="submit" class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04 add-to-cart-btn">
											Add to cart
										</button>
									</div>


										<div class="block2-txt flex-w flex-t p-t-14">
											<div class="block2-txt-child1 flex-col-l ">
												<a href="{{ product.get_absolute_url }}" class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
													{{product}}
												</a>

												<span class="stext-105 cl3">
													${{product.price}}
												</span>
											</div>

										</div>
									</div>

								</form>



						</div>


					{% endfor %}

				</div>

				<!-- Pagination -->
				<div class="flex-c-m flex-w w-full p-t-38">
					    <div class="row">
							<div class="col-md-12">
								<div class="container text-center block-btn-load">
									<a class="btn btn-network-load btn-lg btn-default load-more-product flex-c-m stext-101 cl0 size-101 bor1 hov-btn1 p-lr-15 trans-04" data-page="1" data-url="">
										<i class="fa fa-spinner" aria-hidden="true"></i>
										<span class="text">Load More</span>
									</a>
								</div><!--.container-->
							</div>
						</div>

				</div>

			{% endif %}

		</div>
	</section>



	<!-- Blog -->


	<section class="sec-blog bg0 p-t-60 p-b-90">
		<div class="container">
			<div class="p-b-66">
				<h3 class="ltext-105 cl5 txt-center respon1">
					Our Blogs
				</h3>
			</div>

			<div class="row">
			{% for post_item in posts %}


				<div class="col-sm-6 col-md-4 p-b-40">
					<div class="blog-item">
						<div class="hov-img0">
							<img src="{{post_item.photo.url}}" alt="IMG-BLOG">
						</div>

						<div class="p-t-15">
							<div class="stext-107 flex-w p-b-14">
								<span class="m-r-3">
									<span class="cl4">
										By
									</span>

									<span class="cl5">
										{{ post_item.author }}
									</span>
								</span>

								<span>
									<span class="cl4">
										on
									</span>

									<span class="cl5">
										July 22, 2017
									</span>
								</span>
							</div>

							<h4 class="p-b-12">
								<a href="{{post_item.get_absolute_url}}" class="mtext-101 cl2 hov-cl1 trans-04">
									{{ post_item }}
								</a>
							</h4>

							<p class="stext-108 cl6">
								{{ post_item.body }}
							</p>
						</div>
					</div>
				</div>
			{% endfor %}

			</div>
		</div>
	</section>



{% endblock %}