{% extends "base.html" %}

{% block content %}



	<!-- Product -->

	<!-- breadcrumb -->
	<div class="container">
		<div class="bread-crumb flex-w p-l-25 p-r-15 p-t-30 p-lr-0-lg">
			<a href="{% url 'landing:home_landing' %}" class="stext-109 cl8 hov-cl1 trans-04">
				Home
				<i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
			</a>

			<span class="stext-109 cl4">
				Pyment Str
			</span>
		</div>
	</div>


<div class="container">
    <div class="row">

        <div class="col-lg-8 col-md-10 mx-auto bg0 p-t-104 p-b-116">
            <h2>Tes pay </h2>



            <form class="payment-form" action="/charge" method="post" id="payment-form" data-token="{{ publish_key }}">
              <div class="form-row">
                <label for="card-element">
                  Credit or debit card
                </label>
                <div id="card-element">
                  <!-- A Stripe Element will be inserted here. -->
                </div>

                <!-- Used to display form errors. -->
                <div id="card-errors" role="alert"></div>
              </div>

              <button>Submit Payment</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}