{% extends "base.html" %}

{% block content %}
{% load static %}


	<!-- Title page -->
	<section class="bg-img1 txt-center p-lr-15 p-tb-92" style='background-image: url({% static "images/bg-02.jpg" %});'>
		<h2 class="ltext-105 cl0 txt-center">
			Blog
		</h2>
	</section>


	<!-- Content page -->
	<section class="bg0 p-t-62 p-b-60">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-lg-9 p-b-80">
					<div class="p-r-45 p-r-0-lg">

                        {% for item in posts %}
                            <!-- item blog -->
						    <div class="p-b-63">
							<a href="{{item.get_absolute_url}}" class="hov-img0 how-pos5-parent">
								<img src="{{ item.photo.url }}" alt="IMG-BLOG">

								<div class="flex-col-c-m size-123 bg9 how-pos5">
									<span class="ltext-107 cl2 txt-center">
										22
									</span>

									<span class="stext-109 cl3 txt-center">
										Jan 2018
									</span>
								</div>
							</a>

							<div class="p-t-32">
								<h4 class="p-b-15">
									<a href="{{item.get_absolute_url}}" class="ltext-108 cl2 hov-cl1 trans-04">
										{{ item }}
									</a>
								</h4>

								<p class="stext-117 cl6">
									{{ item.body }}
								</p>

								<div class="flex-w flex-sb-m p-t-18">
									<span class="flex-w flex-m stext-111 cl2 p-r-30 m-tb-10">
										<span>
											<span class="cl4">By</span> {{ item.author }}
											<span class="cl12 m-l-4 m-r-6">|</span>
										</span>

										<span>
											StreetStyle, Fashion, Couple
											<span class="cl12 m-l-4 m-r-6">|</span>
										</span>

										<span>
											8 Comments
										</span>
									</span>

									<a href="{{item.get_absolute_url}}" class="stext-101 cl2 hov-cl1 trans-04 m-tb-10">
										Continue Reading

										<i class="fa fa-long-arrow-right m-l-9"></i>
									</a>
								</div>
							</div>
						</div>
                        {% endfor %}


						<!-- Pagination -->
						<!--<div class="flex-l-m flex-w w-full p-t-10 m-lr&#45;&#45;7">-->
							<!--<a href="#" class="flex-c-m how-pagination1 trans-04 m-all-7 active-pagination1">-->
								<!--1-->
							<!--</a>-->

							<!--<a href="#" class="flex-c-m how-pagination1 trans-04 m-all-7">-->
								<!--2-->
							<!--</a>-->
						<!--</div>-->
					</div>
				</div>

				<div class="col-md-4 col-lg-3 p-b-80">
					<div class="side-menu">
						<div class="bor17 of-hidden pos-relative">
							<input class="stext-103 cl2 plh4 size-116 p-l-28 p-r-55" type="text" name="search" placeholder="Search">

							<button class="flex-c-m size-122 ab-t-r fs-18 cl4 hov-cl1 trans-04">
								<i class="zmdi zmdi-search"></i>
							</button>
						</div>


					</div>
				</div>
			</div>
		</div>
	</section>



{% endblock %}