{% extends "base.html" %}
{% load static %}

{% block content %}



	<!-- Product -->




	<!-- breadcrumb -->
	<div class="container">
		<div class="bread-crumb flex-w p-l-25 p-r-15 p-t-30 p-lr-0-lg">
			<a href="{% url 'landing:home_landing' %}" class="stext-109 cl8 hov-cl1 trans-04">
				Home
				<i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
			</a>

			<span class="stext-109 cl4">
				{{ page_title }}
			</span>
		</div>
	</div>



	<!-- Product -->
	<section class="bg0 p-t-23 p-b-130">
		<div class="container">
			<div class="p-b-10">
				<h3 class="ltext-103 cl5">
                    {% if query %}
                        Results for {{ query }}
                    {% else %}
                        Product Overview
                    {% endif %}

				</h3>
			</div>

			{% if products %}

				<div class="flex-w flex-sb-m p-b-52">
					<div class="flex-w flex-l-m filter-tope-group m-tb-10">
						<button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5 how-active1" data-filter="*">
							All Products
						</button>

						{% if products_category %}
							{% for category in products_category %}
								<button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5" data-filter="{% filter force_escape|lower %}.{{category}}{% endfilter %}">
									{{category}}
								</button>
							{%endfor%}
						{% endif %}

					</div>

				</div>

				<div class="row isotope-grid">

					{% for product in products %}
						<div class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item {% filter force_escape|lower %}{% for item_cat in product.category.all %} {{ item_cat }} {% endfor %}{% endfilter %}">
							<!-- Block2 -->
							<div class="block2">

									{% if product.discount %}
										<div class="block2-pic hov-img0 label-new"  data-label="sale %{{product.discount}}">
									{% else %}
										<div class="block2-pic hov-img0">
									{% endif %}

									{% for item in product.images.all %}

										<div class="image-show-js">
											{% if item.is_main %}
												<img src="{{item.image.url}}" alt="{{item.description}}">
											{% endif %}
										</div>

									{% endfor %}



									<a href="#" class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04 add-to-cart-btn">
										Add to cart
									</a>
								</div>


								<div class="block2-txt flex-w flex-t p-t-14">
									<div class="block2-txt-child1 flex-col-l ">
										<a href="{{ product.get_absolute_url }}" class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
											{{product}}
										</a>

										<span class="stext-105 cl3">
											${{product.price}}
										</span>
									</div>

								</div>
							</div>
						</div>


					{% endfor %}

				</div>



			{% endif %}

		</div>
	</section>






	<!-- Blog -->




{% endblock %}