<form class="wrap-search-header flex-w p-l-15" method="get" action="{% url 'search:search' %}">
    <button class="flex-c-m trans-04">
        <i class="zmdi zmdi-search"></i>
    </button>
    <input class="plh3" type="text" name="q" placeholder="Search...">
</form>