{% extends "base.html" %}

{% block content %}

	<!-- login-form -->

<div class="container">
    <div class="row">

        <div class="login-form col-lg-8 col-md-10 mx-auto bg0 p-t-104 p-b-116">
            <form action="." method="post">
                {{ form.as_p }}
                {% csrf_token %}
                <input type="hidden" name="next" value="{{ next }}" />

                <p>
                    <button type="submit" class="btn btn-primary" >Log-in</button>

                    <a href="{% url 'password_reset' %}">Reset your Password</a>


                    <a href="{% url 'social:begin' 'google-oauth2' %}">Login with Google</a>

                    <a href="{% url 'social:begin' 'github' %}">Login with Github</a>

                    <a href="{% url 'social:begin' 'facebook' %}?next={{ request.path }}">Login with Facebook</a>

                </p>
            </form>

        </div>

    </div>
</div>



{% endblock %}