<form class="login-form" action="{{ action_url }}" method="post">
    {% if address_type %}
        <input type='hidden' name='address_type' value='{{ address_type }}' />
    {% endif %}
    {{ form }}
    {% csrf_token %}
    <input type="submit" class="button" value="Submit">
</form><!--.quest-form-->