{% extends "base.html" %}

{% block content %}

	<!-- login-form -->

<div class="container">
    <div class="row">





        <div class='col-12'>
            <h1>Account</h1>
            <hr/>
        </div>
    <div class='col-12 col-md-3 my-3'>
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Support</h4>
                <div class='list-group'>
                    <a class='list-group-item' href=''>About</a>
                    <a class='list-group-item' href="{% url 'landing:contact' %}">Contact</a>
                </div>
          </div>
        </div>
    </div>



    <div class='col-12 col-md-3 my-3' id='billing'>
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Billing</h4>
                <div class='list-group'>
                    <a class='list-group-item' href='{% url "orders:list" %}'>Orders</a>
                    <a class='list-group-item' href='{% url "analytics:sales" %}'>Analytics Sales</a>
                    <!--<a class='list-group-item' href=''>Addresses</a>-->


                </div>
          </div>
        </div>
    </div>


    <div class='col-12 col-md-3 my-3'>
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Account Details</h4>
                <div class='list-group'>
                    <a class='list-group-item' href='{% url "password_change" %}'>Change Password</a>

                </div>

          </div>
        </div>
    </div>


    <div class='col-12 col-md-3 my-3'>
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Preferences</h4>
                <div class='list-group'>
                    <a class='list-group-item' href="{% url 'marketing:marketing_pref' %}">Email Marketing</a>

                </div>

          </div>
        </div>
    </div>


    <div class='col-12 col-md-3 my-3'>
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">History</h4>
                  <div class='list-group'>
                    <a class='list-group-item' href=''>Products</a>
                </div>
          </div>
        </div>
    </div>







    </div>
</div>



{% endblock %}