{% extends "base.html" %}

{% block content %}

	<!-- login-form -->

<div class="container">
    <div class="row">

        <div class="login-form col-lg-8 col-md-10 mx-auto bg0 p-t-104 p-b-116">
            <form action="." method="post">
                {{ form.as_p }}
                {% csrf_token %}
                <input type="hidden" name="next" value="{{ next }}" />
                <p>
                    <button type="submit" class="btn btn-primary" >Registration</button>
                </p>
            </form>
        </div>

    </div>
</div>



{% endblock %}