{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class='row'>
        <div class="col-12 text-center py-5">
                <h1 class='my-5 py-5'>Rest Instructions Sent</h1>
                <p>Please check your email</p>
          </div>
    </div>
</div>
{% endblock %}
