{% extends "base.html" %}
{% block content %}

<div class="container">
    <div class='row form-my-pass'>
        <div class='col-md-4 col-10 p-t-104 p-b-116  mx-auto'>
        <h1>Reset your Password</h1>
            <form method='post' action=''>{% csrf_token %}
            {{ form.as_p }}
            <span style='margin-bottom: 12px;'></span>
            <button type="submit" class='btn btn-block btn-info'>Reset Password</button>
            </form>
          </div>
    </div>
</div>
{% endblock %}
