{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class='row'>
        <div class="col-12 p-t-104 p-b-116 form-my-pass text-center py-5">
                <h1 class='my-5 py-5'>Password successfully changed!</h1>
          </div>
    </div>
</div>
{% endblock %}
