{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class='row form-my-pass'>
        <div class="col-12 p-t-104 p-b-116 text-center py-5">
                <h1 class='my-5 py-5'>Password reset complete</h1>
                <a href='/login'>Login</a>
        </div>
    </div>
</div>
{% endblock %}
