{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class='row'>
        <div class='col-md-6 col-10 p-t-104 p-b-116 form-my-pass  mx-auto'>
        <h1>Change your Password </h1>
            <form method='post' action=''>{% csrf_token %}
               {{ form.as_p }}
            <span style='margin-bottom: 12px;'></span>
            <button type="submit" class='btn btn-block btn-info'>Save</button>
            </form>
          </div>
    </div>
</div>
{% endblock %}
