{% extends "base.html" %}

{% block content %}

	<!-- login-form -->

<div class="container">
    <div class="row">

        <div class="col-lg-8 col-md-10 mx-auto bg0 p-t-104 p-b-116">
            <h1 class='my-5'>Oops. Sorry. A Server Error Occured</h1>
            <p>500 Error | We have been notified and are working on a fix. </p>
        </div>

    </div>
</div>



{% endblock %}