{% extends "base.html" %}

{% block content %}



	<!-- Product -->

	<!-- breadcrumb -->
	<div class="container">
		<div class="bread-crumb flex-w p-l-25 p-r-15 p-t-30 p-lr-0-lg">
			<a href="{% url 'landing:home_landing' %}" class="stext-109 cl8 hov-cl1 trans-04">
				Home
				<i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
			</a>

			<span class="stext-109 cl4">
				Checkout
			</span>
		</div>
	</div>



	<div class="container">
		<table id="example" class="display" style="width:100%">
			<thead>
				<tr>
					<th></th>
					<th>Name</th>
					<th>Email</th>
					<th>Adress</th>
					<th>Page</th>
					<th>Publish</th>
				</tr>
			</thead>
			<tbody>


				{%for item in parseapi%}
					<tr>
						<td></td>
						<td>{{item}}</td>
						<td>{{item.email}}</td>
						<td>{{item.address}}</td>
						<td>{{item.web_page}}</td>
						<td>{{item.publish}}</td>
					</tr>
				{%endfor%}
			</tbody>
			<tfoot>
				<tr>
					<th></th>
					<th>Name</th>
					<th>Email</th>
					<th>Adress</th>
					<th>Page</th>
					<th>Publish</th>
				</tr>
			</tfoot>
		</table>

		<a href="{% url 'parsersapi:csv_parse' %}" class="flex-c-m stext-101 cl0 col-sm-3 size-107 bg3 bor2 hov-btn3 p-lr-15 trans-04 m-b-10">
			csv parse
		</a>

	</div>





	<!-- Shoping Cart -->
	<form class="bg0 p-t-75 p-b-85" action="{% url 'parsersapi:parser_get' %}" id="form-parser-api">
		{% csrf_token %}
		<div class="container">
			<div class="row">


				<div class="col-sm-12 m-lr-auto m-b-50">
					<div class="bor10 p-lr-40 p-t-30 p-b-40 m-l-63 m-r-40 m-lr-0-xl p-lr-15-sm">
						<h4 class="mtext-109 cl2 p-b-30">
							Parser API
						</h4>



						<div class="flex-w flex-t bor12 p-t-15 p-b-30">
							<div class="size-209 p-r-18 p-r-0-sm w-full-ssm">
								<p class="stext-111 cl6 p-t-2">
									There are no shipping methods available. Please double check your address, or contact us if you need any help.
									https://www.usacycling.org/API/events/?&page_start=10
								</p>

								<div class="p-t-15">
									<span class="stext-112 cl8">
										Calculate Shipping
									</span>



									<div class="bor8 bg0 m-b-12">
										<input class="stext-111 cl8 plh3 size-111 p-lr-15" type="text" name="url" placeholder="url">

									</div>

									<div class="bor8 bg0 m-b-22">
										<input class="stext-111 cl8 plh3 size-111 p-lr-15" type="text" name="numb_count" id="numb_count" placeholder="Count">
									</div>

									<div class="bor8 bg0 m-b-22">
										<input class="stext-111 cl8 plh3 size-111 p-lr-15" type="text" name="news_api" id="news-api" placeholder="News">
									</div>


								</div>
							</div>
						</div>


						<button class="flex-c-m stext-101 cl0 size-116 bg3 bor14 hov-btn3 p-lr-15 trans-04 pointer">
							Proceed to Checkout
						</button>
					</div>
				</div>
			</div>
		</div>
	</form>


{% endblock %}